javascript:
  $("#map").height($(window).height() - $(".nav-wrapper").height() - 2);
  $(".programmer-list").height($(window).height() - $(".nav-wrapper").height() - 2);

  var lat_lang_main = #{Geocoder.coordinates(@search_city_state)};
  var programmers = organize();
  var markers = [];
  var map;

  function organize() {
    array_list = [];
    list = #{@lat_langs.to_json.html_safe};

    list.forEach(function(item) {
      item_location = {lat: parseFloat(item.split(",")[0]), lng: parseFloat(item.split(",")[1])}
      array_list.push(item_location);
    });

    return array_list
  }

  $(function(){
   $(window).load(function(){
     map = new google.maps.Map(document.getElementById('map'), {
       zoom: 12,
       fullscreenControl: false,
       center: {lat: lat_lang_main[0], lng: lat_lang_main[1] }
     });
   });
  });

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      fullscreenControl: false,
      center: {lat: lat_lang_main[0], lng: lat_lang_main[1] }
    });
  }

  function drop() {
    clearMarkers();
    for (var i = 0; i < programmers.length; i++) {
      addMarkerWithTimeout(programmers[i], i * 200);
    }
  }

  function addMarkerWithTimeout(position, timeout) {
    window.setTimeout(function() {
      markers.push(new google.maps.Marker({
        position: position,
        map: map,
        // icon: '/assets/programmercopy.png',
        icon: 'https://s3-us-west-2.amazonaws.com/www.samwholst.com/programmercopy.png',
        animation: google.maps.Animation.DROP
      }));
    }, timeout);
  }

  function clearMarkers() {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(null);
    }
    markers = [];
  }
  setTimeout(drop, 1000);
