javascript:
  $(function(){
   $(window).load(function(){
     var input = document.getElementById('address');
     var options = {
         componentRestrictions: {country: 'us'}
     };
     var autocomplete = new google.maps.places.Autocomplete(input, options);
   });
  });
| <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBMqje86oyLLRGl_88A_f5L_e32Y7RD0Q&libraries=places&senor=false"></script>
