nav class="white"
  .nav-wrapper
    p class="brand-logo site-houser"
      => image_tag 'programmercopy.png', class: "site-logo"
      = link_to "Dev Hunt", root_path, class: "red-text"

    a href="#" data-activates="mobile-demo" class="button-collapse red-text"
      i class="material-icons" menu
    ul class="hide-on-med-and-down right"
      li
        .center.row
          .col.s12
            div class="row" id="topbarsearch"
              form action="#{search_path}" method="get"
                .input-field.col.s6.s12.red-text
                  i class="red-text material-icons prefix" search
                  input (type="text" placeholder="I'm looking for a programmer in..." id="address" class="autocomplete red-text search-programmer" name="location" value="#{@search_city_state}" required)

        li = link_to "Home", root_path, class: "red-text"
        - unless user_signed_in?
          li = link_to "Register", new_user_registration_path, class: "red-text"
          li = link_to "Login", new_user_session_path, class: "red-text"
        -  if user_signed_in?
          li = link_to "Logout", destroy_user_session_path, class: "red-text", method: :delete
          li = link_to "My Account", edit_user_registration_path, class: "red-text"

    ul (class="side-nav" id="mobile-demo")
      li = link_to "Home", root_path, class: "red-text"
      - unless user_signed_in?
        li = link_to "Register", new_user_registration_path, class: "red-text"
        li = link_to "Login", new_user_session_path, class: "red-text"
      -  if user_signed_in?
        li = link_to "Logout", destroy_user_session_path, class: "red-text", method: :delete
        li = link_to "My Account", edit_user_registration_path, class: "red-text"
      li
        form action="#{search_path}" method="get"
          .input-field.col.s12.red-text
            i class="red-text material-icons prefix" search
            input (type="text" placeholder="I'm looking for a programmer in..." id="autocomplete-input" class="autocomplete red-text" name="location" value="#{@search_city_state}" required)
