<div class="container">
  <%= video_tag(
                'Work-Walk/Work-Walk.mp4',
                id: 'background',
                autoplay: true,
                loop: true,
                muted: true,
                poster: 'Work-Walk/Work-Walk.jpg'
                )
  %>
  <div class="front-landing-page">
    <div class="row index-search-form">
      <div class="col s12">
          <form action="search" method="get" class="search-form">
            I am looking for programmers in
            <div class="input-field inline">
            <input type="text" name="location" value="<%= @search_city_state %>" placeholder="Las Vegas, NV" autofocus required>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
