<div class="col s12 programmer-block">
  <div class="col s2 programmer-pic">
    <%= gravatar_helper result %>
  </div>

  <div class="col s10">
    <p class="display-progammer-info"><%= result.first_name %> <%= result.last_name %></p>
    <p class="display-progammer-info"><%= result.complete_address %></p>
  </div>
</div>
