.container-fluid
  .row.search-row-results
    .col.s12.m6.programmer-list
      .col.s12.center.how-many-results
        => @results.count
        | programmers were found in #{@search_city_state}

      = render partial: 'result', collection: @results

    .col.s12.m6.map-houser.hide-on-small-only
      #map
ruby:
  @lat_langs = @results.pluck(:lat_lang)

= render 'shared/google_maps'
