<div class="container-fluid">
  <div class="row search-row-results">
    <div class="col s6 programmer-list">
      <%= render partial: 'result', collection: @results %>
    </div>
    <div class="col s6 map-houser">
      <div id="map"></div>
    </div>
  </div>
</div>

<script>
  var lat_lang = <%= Geocoder.coordinates(@search_city_state) %>;
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: new google.maps.LatLng(lat_lang[0], lat_lang[1]),
      mapTypeId: 'roadmap'
    });

    var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
    var icons = {
      parking: {
        icon: iconBase + 'parking_lot_maps.png'
      },
      library: {
        icon: iconBase + 'library_maps.png'
      },
      info: {
        icon: iconBase + 'info-i_maps.png'
      }
    };

    var features = [
      <% @results.each do |user| %>
        <% lat = user.lat_lang.split(/,/)[0] %>
        <% lang = user.lat_lang.split(/,/)[1] %>
        {
          position: new google.maps.LatLng(<%= lat %>, <%= lang %>),
          type: 'info'
        },
      <% end %>
    ];

    // Create markers.
    features.forEach(function(feature) {
      var marker = new google.maps.Marker({
        position: feature.position,
        icon: icons[feature.type].icon,
        map: map
      });
    });
  }
</script>


<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBMqje86oyLLRGl_88A_f5L_e32Y7RD0Q&callback=initMap">
</script>
