/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require material_icons
 *= require jquery-ui
 *= require_self
 */

body {
  background-color: #e9ebee;
  // background-color: #191919;
  font-family: 'Alegreya', serif;
}

.site-logo {
  vertical-align: -8px;
  margin-left: 5px;
}

.site-houser {
  padding:0px;
  margin:0px;
}

.turbolinks-progress-bar {
  background-color: #009688;
}

.gritter-css3 {
  background: rgba(0, 0, 0, 0.1);
}

#gritter-notice-wrapper {
  top: 60px;
}
