.container {
  // width: 100%;
  // margin-right: 15px;
  // margin-left: 25px;
  // padding: 0px 0px;
}

#map {
  height: 85vh;
  width: 100%;
}

.programmer-list {
  background-color: white;
  // height: 85vh;
  margin-top: 2px !important;
  // border-radius: 5px;
  // overflow: auto;
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;
}

.map-houser {
  // background-color: black;
  // margin: 15px !important;
  padding: 0px !important;
  // border-radius: 5px;
  overflow: hidden;
}

.search-row {
  margin-top: 100px;
}

.search-row-results {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.search-bar {
  background-color: white;
  padding-top: 115px;
  border-radius: 5px;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  // background: asset_url('coding-pic.jpg') no-repeat;
  background-size: cover;
}

.front-landing-page {
  display: flex;
  justify-content: center;
  text-align: center;
  // padding: 250px 0px;
  color: white;
  font-size: 30px;
  // text-align: center;
  // vertical-align: middle;
}

nav form {
  height: 60px;
  width: 500px;
  position: absolute;
  left: 30%;
  margin-top: 2px;
}

nav form label {
  margin-bottom: 40px;
}

nav {
  // background-color: #191919 !important;
}

.brand-logo {
  margin-left: 5px;
}
