.display-progammer-info {
  margin: 5px 0px 5px 0px;
}

.programmer-block {
  // background-color: white;
  margin-top: 10px;
  border-bottom: 1px solid #e5e5e5;
  // border-radius: 5px;
}

.gravatar-image {
  border-radius: 50%;
}

.programmer-pic {
  padding-top: 5px !important;
}

.how-many-results {
  font-size: 20px;
}

.programmer-story {
  margin-top: 5px;
}

.search-programmer {
  margin-bottom: 0px !important;
}

#map {
  margin-top: 2px;
}
